.mainGrid {
    width: auto;
}

.mainGrid:after {
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col {
    padding-right: 20px;
}
.col:last-of-type {
    padding-right: 0;
}