/*________________________________*/
/* Link the Zoomdata symbol font */
@font-face {
    font-family: 'zoomdata-symbol';
    src: url('https://www.alr-research.com/styleguide_beta/css/font/Zoomdata-Symbol.otf');
    /*    src: url('font/zoomdata-symbol_1-5_webfontkit/zoomdata-symbol-webfont.eot');
        src: url('font/zoomdata-symbol_1-5_webfontkit/zoomdata-symbol-webfont.eot?#iefix') format('embedded-opentype'),
             url('font/zoomdata-symbol_1-5_webfontkit/zoomdata-symbol-webfont.woff2') format('woff2'),
             url('font/zoomdata-symbol_1-5_webfontkit/zoomdata-symbol-webfont.woff') format('woff'),
             url('font/zoomdata-symbol_1-5_webfontkit/zoomdata-symbol-webfont.ttf') format('truetype'),
             url('font/zoomdata-symbol_1-5_webfontkit/zoomdata-symbol-webfont.svg#zoomdata_symbolregular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

/*________________________________*/
/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /* vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: Source Sans Pro;
    margin:0px;
    line-height: 1;
    overflow-x:hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input{
    padding: 0px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
.ui-icon{
    opacity: 0;
}
/*Global style for page title*/
#title{
    position: fixed;
    top:0px;
    width:100%;
    height:36px;
    background: linear-gradient(to bottom, rgba(89,89,89,1) 0%,rgba(50,50,50,1) 100%);
}
.titleLogo{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: 12px;
    margin-right: 0px;
}
.titleLabel{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
}
/*Global style for wrapper and color buttons*/
#wrapper{
    width:100%;
    height:calc(100vh - 36px);
    margin-top: 36px;
    overflow-x: hidden;
    overflow-y: auto;
}
#wrapper_top{
    box-sizing: Border-box;
    width:100%;
    padding:18px 18px;
    overflow: hidden;
}
#backHomeBtn{
    float: left;
    line-height: 32px;
    margin-right: 12px;
}
#wrapper_title{
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    color: #323232;
}
#wrapper_body{
    box-sizing: border-box;
    height: calc(100% - 68px);
    font-size: 0px;
    padding: 0px 18px 18px 18px;
}
.backgroundColorControl{
    display: inline-block;
    height: 32px;
    float: right;
    font-size: 0px;
}
#bgColorLabel{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #323232;
    margin-right: 8px;
}
.colorBtn{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width:24px;
    height: 24px;
    margin-right: 8px;
    border: 2px solid #939393;
    cursor: pointer;
}
.colorBtn:last-child{
    margin-right: 0px;
}
.colorBtn_selected{
    border: 2px solid #d6df23;
}
#colorBtn_1, .bg_1{
    background-color: #ffffff;
}
#colorBtn_2, .bg_2{
    background-color: #e6e6e6;
}
#colorBtn_3, .bg_3{
    background-color: #595959;
}
#colorBtn_4, .bg_4{
    background-color: #323232;
}
.bg_1 #wrapper_title{
    color:#323232;
}
.bg_1 #bgColorLabel{
    color:#323232;
}
.bg_2 #wrapper_title{
    color:#323232;
}
.bg_2 #bgColorLabel{
    color:#323232;
}
.bg_3 #wrapper_title{
    color:#e6e6e6;
}
.bg_3 #bgColorLabel{
    color:#e6e6e6;
}
.bg_4 #wrapper_title{
    color:#e6e6e6;
}
.bg_4 #bgColorLabel{
    color:#e6e6e6;
}

/*Top margin for each component group, used in this demo only*/
.marginTop{
    margin-top: 16px;
}
.imagePlaceHolder{
    width:100%;
    height:72px;
    background-color:#e6e6e6;
}

.colorcontainer {
    width:170px;
    height:80px;
    border-radius:12px;
    border: 1px solid #D2D2D2;
    position:relative;
    margin:0px 10px 10px 0;
    display:inline-block;
    border: 1px solid #939393;
    overflow: hidden;
}

.colorwell {
    border-radius:10px 10px 0 0;
    width:170px; height:40px;
    position:absolute;
    top:0; left:0;
}
.colordescription {
    border-radius:0 0 12px 12px;
    width:170px;
    height:32px;
    position:absolute;
    bottom:6px;
    left:0;
    text-align:center;
}
/*Style Icon Page*/
@media screen and (max-width: 768px) {
    .sg-zoomdataSymbol li{
        width: 25%;
    }
}
@media screen and (min-width: 769px) and (max-width: 850px) {
    .sg-zoomdataSymbol li{
        width: 20%;
    }
}
@media screen and (min-width: 851px) and (max-width: 1024px) {
    .sg-zoomdataSymbol li{
        width: 16.6666%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .sg-zoomdataSymbol li{
        width: 14.28571%;
    }
}
@media screen and (min-width: 1367px){
    .sg-zoomdataSymbol li{
        width: 12.5%;
    }
}
.sg-zoomdataSymbol{
    width: 100%;
}
.sg-zoomdataSymbol .zoomdataSymbol {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 24px;
    text-align: center;
}
.zoomdataSymbol-class {
    font-family:'source sans pro';
    font-size:14px;
    margin-top:5px;
    color:#939393;
}
.sg-zoomdataSymbol li:hover .zoomdataSymbol-class {
    color:#fff;
}
.zoomdataSymbol {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'zoomdata-symbol';
}
.sg-zoomdataSymbol li {
    display: block;
    -webkit-margin-before: 0;
    box-sizing:border-box;
    float: left;
    /*  width: 25%;*/
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background: #f1f1f1;
    border: 1px solid #fff;
    color:#595959;
}
.sg-zoomdataSymbol li:hover {
    background: #595959;
    color:#D6DF23;
}
.sg-zoomdataSymbol-list {
    padding-left: 0;
    list-style: none;
}
/*Style Color Page*/
.code {font-family: courier, monospace, serif; font-size:13px;}

.obsidian {background-color:#323232;}
.charcoal {background-color:#595959;}
.iron {background-color:#939393;}
.silver {background-color:#D2D2D2;}
.mercury {background-color:#E6E6E6;}
.disabled {background-color:#b2b2b2;}
.chromium {background-color:#F1F1F1;}
.zoomdatagreen {background-color:#68AD45;}
.solargreen {background-color:#D6DF23;}
.beachblue {background-color:#0095B6;}
.skyblue {background-color:#87CEEB;}
.flamered {background-color:#E5683A;}
.flamegold {background-color:#FABC2D;}
.darkgradient { background: linear-gradient(to bottom, rgba(89,89,89,1) 0%,rgba(50,50,50,1) 100%);}
.lightgradient {background: linear-gradient(to bottom, rgba(241,241,241,1) 0%,rgba(255,255,255,1) 100%); border-bottom:1px solid #D2D2D2; }
.brandgradient {background: linear-gradient(to bottom, rgba(104,173,69,1) 0%,rgba(84,145,56,1) 100%);}



/**********************************************
Label
**********************************************/
.label_0{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #323232;
    font-size: 28px;
    line-height: 36px;
}
.label_1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #323232;
    font-size: 20px;
    line-height: 24px;
}
.label_2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #595959;
}
.label_3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #323232;
}
.label_4{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #323232;
}
.label_5{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #939393;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.label_6{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #323232;
}
.label_7{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #939393;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.label_8{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #939393;
}
.label_9{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #595959;
}
.label_10{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #939393;
    text-transform: uppercase;
}
.bg_3 .label_1, .bg_3 .label_2, .bg_4 .label_1, .bg_4 .label_2{
    color: #e6e6e6;
}
.bg_3 .label_3, .bg_3 .label_4, .bg_4 .label_3, .bg_4 .label_4{
    color: #ffffff;
}
/**********************************************
Image Set
**********************************************/
.imageSet{
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
}
.imageSet_image{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    text-align: center;
}
.imageSet_label{
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}
.image_clickable{
    cursor: pointer;
}
/**********************************************
Icon Button
**********************************************/
.iconBtn{
    display: inline-block;
    font-family: 'zoomdata-symbol';
    text-align: center;
    cursor: pointer;
}
.iconBtn_x-large{
    font-size: 48px;
    line-height: 48px;
}
.iconBtn_large{
    font-size: 32px;
    line-height: 32px;
}
.iconBtn_medium{
    font-size: 23px;
    line-height: 24px;
}
.iconBtn_small{
    font-size: 17px;
    line-height: 17px;
}
.iconBtn_x-small{
    font-size: 14px;
    line-height: 14px;
}
.iconBtn_xx-small{
    font-size: 12px;
    line-height: 12px;
}
.iconBtn_primary{
    color: #0095b6;
}
.iconBtn_primary:hover{
    color: #007f9c;
}
.iconBtn_secondary{
    color: #939393;
}
.iconBtn_secondary:hover{
    color: #7a7a7a;
}
.iconBtn_tertiary{
    color: #595959;
}
.iconBtn_tertiary:hover{
    color: #404040;
}
.iconBtn_warning{
    color: #e5683a;
}
.iconBtn_warning:hover{
    color: #cc5c33;
}
.iconBtn_delete:hover{
    color: #e5683a;
}
.iconBtn_disable{
    color: #b2b2b2;
    cursor: not-allowed;
}
.iconBtn_readyOnly{
    color: #939393;
    cursor: default;
}
.iconBtn_readyOnly_clickable{
    color: #68ad45;
}
.iconBtn_readyOnly_clickable:hover{
    color: #59943b;
}
.iconBtn_clicked{
    color: #d6df23;
}
.iconBtn_clicked:hover{
    color: #bcc41f;
}
.bg_3 .iconBtn_tertiary, .bg_4 .iconBtn_tertiary{
    color: #d6df23;
}
.bg_3 .iconBtn_tertiary:hover, .bg_4 .iconBtn_tertiary:hover{
    color: #bcc41f;
}
/**********************************************
Button
**********************************************/
.btnSet{
    font-size: 0px;
}
.btn_large{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    min-width: 64px;
    height: 32px;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    font-size: 0px;
    color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    z-index: 200;
}

.btn_large_icon{
    display: inline-block;
    vertical-align: middle;
    font-family: 'zoomdata-symbol';
    font-size: 14px;
    padding-right: 8px;
}
.btn_large_label{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 30px;
    margin: 0 auto;
}
.btn_mediun{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    min-width: 72px;
    height: 24px;
    border-radius: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-size: 0px;
    color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    z-index: 200;
}

.btn_mediun_icon{
    display: inline-block;
    vertical-align: top;
    font-family: 'zoomdata-symbol';
    font-size: 14px;
    line-height: 22px;
    padding-right: 4px;
}
.btn_mediun_label{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 22px;
    margin: 0 auto;
}
.btn_small{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    min-width: 48px;
    height: 22px;
    border-radius: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    font-size: 0px;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    z-index: 200;
}

.btn_small_icon{
    display: inline-block;
    vertical-align: middle;
    font-family: 'zoomdata-symbol';
    font-size: 13px;
    padding-right: 6px;
}
.btn_small_label{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 20px;
    margin: 0 auto;
}
.btn_primary{
    background-color: #0095b6;
    border: 1px solid #0095b6;
}
.btn_primary:hover{
    background-color: #007f9c;
    border: 1px solid #007f9c;
}
.btn_secondary{
    background-color: #939393;
    border: 1px solid #939393;
}
.btn_secondary:hover{
    background-color: #7a7a7a;
    border: 1px solid #7a7a7a;
}
.btn_warning{
    background-color: #e5683a;
    border: 1px solid #e5683a;
}
.btn_warning:hover{
    background-color: #cc5c33;
    border: 1px solid #cc5c33;
}
.btn_clicked{
    color: #d6df23;
    background-color: #595959;
    border: 1px solid #d6df23;
}
.btn_clicked:hover{
    color: #d6df23;
    background-color: #404040;
    border: 1px solid #d6df23;
}
.btn_disable{
    color: #b2b2b2;
    background-color: #f1f1f1;
    border: 1px solid #b2b2b2;
    cursor: not-allowed;
}
/**********************************************
button Toggle
**********************************************/
.btnToggleSet{
    width: 100%;
    box-sizing:border-box;
    display: inline-block;
    height: 32px;
    font-size: 0px;
}
.btnToggle{
    box-sizing:border-box;
    display: inline-block;
    vertical-align: middle;
    width: calc(50% - 1px);
    height: 24px;
    background-color: #b2b2b2;
    border: 1px solid #b2b2b2;
    cursor: pointer;
}
.btnToggle:hover{
    background-color: #999999;
    border: 1px solid #999999;
}
.btnToggle:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: 1px;
}
.btnToggle:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 1px;
}
.btnToggle_icon{
    display: inline-block;
    font-family: 'zoomdata-symbol';
    text-align: center;
    line-height: 21px;
    color: #f1f1f1;
}
.btnToggle_icon_thumbNail{
    font-size: 14px;
}
.btnToggle_icon_list{
    font-size: 20px;
}
.btnToggle_selected{
    background-color: #595959;
    border: 1px solid #595959;
    color: #e6e6e6;
}
.btnToggle_selected:hover{
    background-color: #404040;
    border: 1px solid #404040;
}
/**********************************************
Link
**********************************************/
.link{
    margin-bottom: 20px;
}
.linkSet{
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    cursor: pointer;
    color: #0095b6;
}
.linkSet_icon{
    display: inline-block;
    vertical-align: top;
    font-family: 'zoomdata-symbol';
    font-size: 14px;
    width: 14px;
    text-align: center;
    line-height: 18px;
    padding-right: 8px;
}
.linkSet_label{
    display: inline-block;
    vertical-align: top;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 18px;
}
.linkSet_primary:hover .linkSet_label{
    /*text-decoration: underline;*/
    text-decoration: none;
}
.linkSet_secondary:hover .linkSet_label{
    /*text-decoration: underline;*/
    text-decoration: none;
}
.linkSet_disable:hover .linkSet_label{
    text-decoration: none;
}
.linkSet_primary{
    color: #0095b6;
}
.linkSet_primary:hover{
    color: #007f9c;
}
.linkSet_secondary{
    color: #d2d2d2;
}
.linkSet_secondary:hover{
    color: #b8b8b8;
}
.linkSet_disable{
    color: #b2b2b2;
    cursor: not-allowed;
}
.linkSet_disable:hover{
    color: #b2b2b2;
}
.linkSet_activeArea_large{
    box-sizing: border-box;
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
}
.linkSet_activeArea_large .linkSet_icon{
    line-height: 30px;
}
.linkSet_activeArea_large .linkSet_label{
    line-height: 30px;
}
.linkSet_activeArea_small{
    box-sizing: border-box;
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    height: 22px;
    padding-left: 6px;
    padding-right: 6px;
}
.linkSet_activeArea_small .linkSet_icon{
    line-height: 20px;
}
.linkSet_activeArea_small .linkSet_label{
    line-height: 20px;
}
.bg_3 .linkSet_primary, .bg_4 .linkSet_primary{
    color: #d6df23;
}
.bg_3 .linkSet_primary:hover, .bg_4 .linkSet_primary:hover{
    color: #bcc41f;
}
.bg_3 .linkSet_secondary, .bg_4 .linkSet_secondary{
    color: #f1f1f1;
}
.bg_3 .linkSet_secondary:hover, .bg_4 .linkSet_secondary:hover{
    color: #d9d9d9;
}
.bg_3 .linkSet_disable, .bg_4 .linkSet_disable{
    color: #939393;
}
.bg_3 .linkSet_disable:hover, .bg_4 .linkSet_disable:hover{
    color: #939393;
}

/**********************************************
Icon Button on Table's Header, e.g. Help Btn
**********************************************/
.headerIconBtn:before{
    position: absolute;
    display: inline-block;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #d2d2d2;
    width: 18px;
    height:18px;
    margin-left: -18px;
    content: " ";
}

.headerIconBtn:hover::before{
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #d6df23;
}

.headerIconBtn_icon{
    width: 14px;
    height: 14px;
    text-align: center;
    position: absolute;
    top:-1px;
    left:-11px;
    font-family: 'zoomdata-symbol';
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    color: #595959;
}
/**********************************************
Check Box
**********************************************/
.checkBoxSet{
    display: inline-block;
    vertical-align:top;
    font-size: 0px;
}
.checkBox_label{
    display: inline-block;
    vertical-align:top;
    padding-left: 8px;
    line-height: 20px;
    cursor: pointer;
}
.checkBox{
    box-sizing: border-box;
    display: inline-block;
    vertical-align:top;
    width:20px;
    height:20px;
    color: #d6df23;
    border: 1px solid #939393;
    background-color: transparent;
    font-family: 'zoomdata-symbol';
    text-align: center;
    line-height: 18px;
    font-size: 13px;
    cursor: pointer;
}
.checkBox_square{
    width:8px;
    height: 8px;
    background-color: #d6df23;
    opacity: 0;
    margin: 5px;
    -webkit-transition:0.3s;
    transition:0.3s;
}
.checkBoxSet:hover .checkBox_square{
    opacity: 0.7;
}
.checkBox_checked{
    background-color: #323232;
}
.checkBox_unChanged{
    background-color: #b2b2b2;
}
.checkBox_checked{
    border: 1px solid #d6df23;
}
.checkBox_disable{
    border: 1px solid #b2b2b2;
}
.checkBox_unChanged, .checkBox_disable{
    cursor: not-allowed;
}
.checkBox svg {
    width: 20px;
    height: 20px;
}
.checkBox .disablePattern{
    mask: url(#mask-stripe);
    fill: #b2b2b2;
}

.bg_3 .checkBox, .bg_4 .checkBox{
    border: 1px solid #d2d2d2;
}
.bg_3 .checkBox_checked, .bg_4 .checkBox_checked{
    border: 1px solid #d6df23;
}
.bg_3 .checkBox_disable, .bg_4 .checkBox_disable{
    border: 1px solid #939393;
}
.bg_3 .checkBox_label, .bg_4 .checkBox_label{
    color: #ffffff;
}
.bg_3 .label_disable, .bg_4 .label_disable{
    color: #939393;
}

/**********************************************
Radio Button
**********************************************/
.radioBtnSet{
    display: block;
    font-size: 0px;
}
.radioBtn_label{
    display: inline-block;
    vertical-align:top;
    padding-left: 8px;
    line-height: 22px;
    cursor: pointer;
}

.radioBtn{
    box-sizing: border-box;
    display: inline-block;
    vertical-align:top;
    width:22px;
    height:22px;
    border-radius: 22px;
    color: #d6df23;
    border: 1px solid #939393;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
}
.radioBtn_checked{
    border: 1px solid #d6df23;
    background-color: #d2d2d2;
}
.radioBtn_circle{
    width:8px;
    height: 8px;
    border-radius: 8px;
    background-color: #d6df23;
    opacity: 0;
    margin: 6px;
    -webkit-transition:0.3s;
    transition:0.3s;
}
.radioBtn_circle_checked{
    width:10px;
    height: 10px;
    border-radius: 10px;
    opacity: 1;
    margin: 5px;
}
.radioBtnSet:hover .radioBtn_circle{
    opacity: 0.7;
}
.radioBtnSet:hover .radioBtn_circle_checked{
    opacity: 1;
}
.radioBtn_checked{
    background-color: #323232;
}
.radioBtn_unChanged{
    background-color: #b2b2b2;
}
.radioBtn_checked{
    border: 1px solid #d6df23;
}
.radioBtn_disable{
    border: 1px solid #b2b2b2;
}
.radioBtn_unChanged, .checkBox_disable{
    cursor: not-allowed;
}
.radioBtn_checked{
    border: 1px solid #d6df23;
    background-color: #323232;
}
.radioBtn_unChanged{
    border: 1px solid #939393;
    background-color: #b2b2b2;
}
.radioBtn_disable{
    border: 1px solid #b2b2b2;
    cursor: not-allowed;
}
.radioBtn svg {
    width: 20px;
    height: 20px;
}
.radioBtn .disablePattern{
    mask: url(#mask-stripe);
    fill: #b2b2b2;
}
.bg_3 .radioBtn, .bg_4 .radioBtn{
    border: 1px solid #d2d2d2;
}
.bg_3 .radioBtn_checked, .bg_4 .radioBtn_checked{
    border: 1px solid #d6df23;
}
.bg_3 .radioBtn_disable, .bg_4 .radioBtn_disable{
    border: 1px solid #939393;
}
.bg_3 .radioBtn_label, .bg_4 .radioBtn_label{
    color: #ffffff;
}
.bg_3 .label_disable, .bg_4 .label_disable{
    color: #939393;
}

/**********************************************
InputBox
**********************************************/
/*Regular active input box style*/
input{
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding-left: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 32px;
    border: 1px solid #ffffff;
    /*border-radius: 4px;*/
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
input:focus{
    outline: none;
    border-color: #D6DF23;
    box-shadow: 0 0 5px #D6DF23;
}
.inputBox_error input{
    border-color: #e5683a;
    box-shadow: 0 0 5px #e5683a;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.inputBox_error input:focus{
    outline: none;
    border-color: #D6DF23;
    box-shadow: 0 0 5px #D6DF23;
}
.inputBox_disable input:disabled {
    border: 1px solid #b2b2b2;
    background: #f1f1f1;
    box-shadow: none;
    cursor: not-allowed;
}
.inputBox input[type=text]{
    width:100%;
}
.inputBox input[type=password]{
    width:100%;
}
.inputBox input[type=number]{
    width:50%;
}
/**********************************************
Search
**********************************************/
.searchBox{
    position: relative;
    /*  width: 280px;*/
    /*  height: 32px;*/
    font-size: 0;
    overflow: visible;
}
.searchIcon{
    position: absolute;
    top:0px;
    left: 1px;
    width:28px;
    height:32px;
    font-family: 'zoomdata-symbol';
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    color: #d2d2d2;
    z-index: 200;
}
.searchBox input{
    padding-left: 28px; /* Space for Search Icon */
    padding-right: 4px;
    z-index: 100;
}
.search_advanced input{
    padding-right: 96px;
}
.search_add input{
    padding-right: 56px;
}
.searchBox input:focus{
    outline: none;
    border-color: #D6DF23;
    box-shadow: 0 0 5px #D6DF23;
}
.searchBox input:focus ~.searchOptionBtn{
    border-color: #D6DF23;
}
.searchOptionBtn{
    box-sizing: border-box;
    position: absolute;
    top:0px;
    right: 0px;
    height:32px;
    border: 1px solid #939393;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 8px;
    z-index: 200;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.searchOptionBtn_label{
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 32px;
    color:#595959;
}
.searchOptionBtn_arrow{
    display: inline-block;
    vertical-align: top;
    padding-left: 4px;
    padding-right: 8px;
    font-family: 'zoomdata-symbol';
    font-size: 10px;
    line-height: 30px;
    color: #595959;
}
.searchOptionBtn:hover{
    background-color: #323232;
}
.searchOptionBtn:hover .searchOptionBtn_label{
    color: #d6df23;
}
.searchOptionBtn:hover .searchOptionBtn_arrow{
    color: #d6df23;
}
.searchAddBtn{
    position: absolute;
    top:5px;
    right: 5px;
    z-index: 200;
}
.searchAddBtn .btn_small_label{
    width: 36px;
}
/**********************************************
Text Area
**********************************************/
.textarea-container {
    position: relative;
    width: 100%;
    min-height: 66px;
}
textarea, .textarea-size {
    /*  box-sizing: border-box;*/
    width: 100%;
    min-height: 66px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 18px;
    box-sizing: border-box;
    padding: 5px 7px;
    border: 1px solid #939393;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
textarea {
    height: 100%;
    position: absolute;
    /*
    "pre" or "preline" or "normal" fixes Chrome issue where
      whitespace at end of lines does not trigger a line break.
    However, it causes the text to exhibit the behavior seen with
      "pre" that is described below.
     */
    white-space: normal;
}
textarea:focus{
    outline: none;
    border-color: #D6DF23;
    box-shadow: 0 0 5px #D6DF23;
}
.textarea-size {
    visibility: hidden;

    /*
    Pre-wrap: preserve spacing and newlines, but wrap text.
    Pre: preserve spacing and newlines but don't wrap text.

    "pre" does not wrap well on Firefox, even with word-wrap:break-word.
    "pre" on Chrome works with word-wrap, but exhibits different behavior:
    Instead of entire words being moved to the next line for wrapping,
    the browser will cut words in the middle for wrapping.
    "pre-line" has Firefox issues
    */
    white-space: pre-wrap;
    /* Required for wrapping lines in Webkit,
      but not necessary in Firefox if you have white-space wrapping
      (pre-wrap, normal, pre-line) already set */
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.textarea_noResizable{
    resize:none;
    overflow-y:auto;
}
.textarea_resizeVertical{
    resize:vertical;
}
.textarea_disable textarea:disabled {
    border: 1px solid #b2b2b2;
    background: #f1f1f1;
    box-shadow: none;
    cursor: not-allowed;
}
/**********************************************
Switch
**********************************************/
.switchstyle {position:absolute; left:-50000px;} /* hiding the real checkbox, everything is done via the Label element */
.thumbtack {  /* the thing you move with your thumb */
    display:block; position:absolute; height:25px; width:25px; border-radius:100px;
    background-color:#666; transition:all 250ms;
    top:-1px;
    cursor:pointer;
    border-radius: 20px;
    background-image: -moz-linear-gradient( 90deg, rgb(229,226,219) 0%, rgb(255,254,253) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(229,226,219) 0%, rgb(255,254,253) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(229,226,219) 0%, rgb(255,254,253) 100%);

    border: 1px solid rgb(240, 240, 239);
    box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}
.switchstyle + label {width:60px; height:25px; display:inline-block; border-radius:20px;
    position:relative; transition: background 250ms; cursor:pointer; border:1px solid #939393;
}
.switchstyle:checked + label {color:#323232; background-color:#d6df23; }
.switchstyle:checked + label:before {position:absolute; content:"ON"; left:0;  }
.switchstyle:checked + label .thumbtack {right:0; }
.switchstyle:not(:checked) + label {color:#323232; background-color:#b2b2b2;}
.switchstyle:not(:checked) + label:before {position:absolute; content:"OFF";right:0;}
.switchstyle:not(:checked) + label .thumbtack {right:35px; }
.switchstyle:checked + label:before, .switchstyle:not(:checked) + label:before  {
    font-size:13px;  font-weight: 400;
    font-family:'Source Sans Pro', 'Helvetica Neue', arial, sans-serif;
    line-height: 25px;
    padding-right: 8px;
    padding-left: 8px;
}
/**********************************************
Drop Down Button & Link
**********************************************/
.dropDownBtn{
    box-sizing: border-box;
    width:100%;
    height:32px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
    border: 1px solid #939393;
    cursor: pointer;
}
.dropDownBtn_label{
    box-sizing: border-box;
    display: inline-block;
    padding-left: 8px;
    height:30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #323232;
}
.dropDownBtn_arrow{
    box-sizing: border-box;
    display: inline-block;
    float: right;
    width:30px;
    height:30px;
    font-family: 'zoomdata-symbol';
    text-align: center;
    line-height: 30px;
    font-size: 10px;
    background-color: #ffffff;
    border-left: 1px solid #939393;
    color: #323232;
}
.dropDownBtn:hover .dropDownBtn_arrow{
    color: #d6df23;
    background-color: #323232;
}

.dropDownBtn_disable{
    background-color: #f1f1f1;
    border: 1px solid #b2b2b2;
    color: #b2b2b2;
    cursor: not-allowed;
}
.dropDownBtn_disable .dropDownBtn_label{
    color: #b2b2b2;
}
.dropDownBtn_disable .dropDownBtn_arrow{
    background-color: #f1f1f1;
    border-left: 1px solid #b2b2b2;
    color: #b2b2b2;
}
.dropDownBtn_disable:hover .dropDownBtn_arrow{
    color: #b2b2b2;
    background-color: #f1f1f1;
}
.dropDownLink{
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
}

.dropDownLink .linkSet_icon{
    padding-left: 4px;
    padding-right: 0px;
    font-size: 10px;
}
.dropDownMenu{
    box-sizing: border-box;
    display: block;
    margin-top: 4px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px 0px;
    overflow: hidden;
}
.dropDownMenu_item{
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    height:30px;
    background-color: #d2d2d2;
    color: #595959;
    cursor: pointer;
}
.dropDownMenu_item:hover{
    color: #595959;
    background-color: #f1f1f1;
}
.dropDownMenu_item:hover .dropDownMenu_item_label{
    color: #595959;
    font-weight: 600;
}
.dropDownMenu_light{
    /*    border: 1px solid #d2d2d2;*/
}
.dropDownMenu_light .dropDownMenu_item{
    background-color: #e6e6e6;
    color: #323232;
}
.dropDownMenu_item_red:hover .dropDownMenu_item_label{
    color:#e5683a;
}
.dropDownMenu_light .dropDownMenu_item:hover{
    background-color: #cccccc;
}
.dropDownMenu_light .dropDownMenu_item_red{
    color: #e5683a;
}
.dropDownMenu_item_icon{
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 30px;
    font-family: 'zoomdata-symbol';
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    padding-right: 8px;
}
.dropDownMenu_item_label{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
/**********************************************
Sort Toggle
**********************************************/
/* --- Sort Toggle on Circle Btn  & Active --- */
/* --- Cursor Active Area: Width 24px = 12px + 5px + 5px + 2px border;
Height 24px = 18px + 2px + 2px + 2px border; --- */
.sortToggle{
    display: inline-block;
    width: 12px;
    height:18px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
    background-color: transparent;
}

.sortToggle_btn{
    padding:2px 5px;
    border-radius: 24px;
    /*background-color: #ffffff;*/
    border: 1px solid #b2b2b2;
    cursor: pointer;
}
.sortToggle_btn:hover{
    border: 1px solid #7a7a7a;
}
.sortToggle_btn_disable{
    padding:2px 5px;
    border-radius: 24px;
    background-color: #transparent;
    border: 1px solid #b2b2b2;
    cursor: not-allowed;
}
/* --- Sort Toggle only has arrows  & Active --- */
/* --- Cursor Active Area: Width 24px = 12px + 6px + 6px;
Height 24px = 18px + 3px + 3px --- */
.sortToggle_arrows{
    padding: 3px 6px;
    cursor: pointer;
}
.sortToggle_arrows_disable{
    padding: 3px 6px;
    cursor: not-allowed;
}
/* --- Draw Sort Arrows: Up & Down --- */
/* --- Margin between two Arrows is 2px --- */
.sortArrow{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-top: 2px;
}
.sortArrow:first-child{
    margin-top: 0px;
}
.sortArrowUp{
    border-bottom: 8px solid #b2b2b2;
}
.sortArrowUp_Selected{
    border-bottom: 8px solid #595959;
}
.sortArrowUp_disable{
    border-bottom: 8px solid #b2b2b2;
    cursor: not-allowed;
}
.sortArrowDown{
    border-top: 8px solid #b2b2b2;
}
.sortArrowDown_Selected{
    border-top: 8px solid #595959;
}
.sortArrowDown_disable{
    border-top: 8px solid #b2b2b2;
    cursor: not-allowed;
}
.sortToggle:hover .sortArrowDown{
    border-top: 8px solid #999999;
}
.sortToggle:hover .sortArrowDown_Selected{
    border-top: 8px solid #404040;
}
.sortToggle:hover .sortArrowUp{
    border-bottom: 8px solid #999999;
}
.sortToggle:hover .sortArrowUp_Selected{
    border-bottom: 8px solid #404040;
}

.sortToggleSet{
    display: inline-block;
    font-size: 0px;
    height: 24px;
}
.sortToggleSet .sortToggle{
    vertical-align: middle;
}
.sortToggleSet_label{
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
.sortToggleSet_dropDown{
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
}
.bg_3 .sortToggle_btn, .bg_4 .sortToggle_btn{
    background-color: transparent;
    border: 1px solid #f1f1f1;
}
.bg_3 .sortToggle_btn:hover, .bg_4 .sortToggle_btn:hover{
    border: 1px solid #d9d9d9;
}
.bg_3 .sortToggle_btn_disable, .bg_4 .sortToggle_btn_disable{
    border: 1px solid #939393;
}
.bg_3 .sortArrowUp_disable, .bg_4 .sortArrowUp_disable{
    border-bottom: 8px solid #939393;
}
.bg_3 .sortArrowDown_disable, .bg_4 .sortArrowDown_disable{
    border-top: 8px solid #939393;
}
.bg_3 .sortArrowDown, .bg_4 .sortArrowDown{
    border-top: 8px solid #f1f1f1;
}
.bg_3 .sortToggle:hover .sortArrowDown, .bg_4 .sortToggle:hover .sortArrowDown{
    border-top: 8px solid #d9d9d9;
}
.bg_3 .sortToggleSet_label .label_3, .bg_4 .sortToggleSet_label .label_3{
    color: #ffffff;
}
.sortToggleSet_label .label_3{
    color: #595959;
}
.sortToggleSet_dropDown .linkSet_label{
    color: #595959;
    font-weight: bold;
}
/**********************************************
Validation Msg
**********************************************/
.validationMsg{
    box-sizing: border-box;
    font-size: 0px;
}
.validationMsgIcon{
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    font-family: 'zoomdata-symbol';
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    margin-right: 8px;
}
.validationMsgContent{
    display: inline-block;
    vertical-align: top;
    /*content width = total width - icon 18px - margin 8px*/
    width: calc(100% - 18px - 8px);
}
.validationMsgContent_noIcon{
    width: 100%;
}
/**********************************************
List Item
**********************************************/
.listItem{
    box-sizing: border-box;
    width: 100%;
    /*  height:32px;*/
    margin-top: 1px;
    /*  font-family: Source Sans Pro;
      font-size: 14px;
      line-height: 32px;*/
    padding:6px 8px;
    background-color: #323232;
    color: #ffffff;
}
.listItem:first-child{
    margin-top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.listItem:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.listItem:hover{
    background-color: #000000;
    cursor: pointer;
}
.listItem_whiteGrey{
    background-color: #f1f1f1;
}
.listItem_whiteGrey:hover{
    background-color: #d6d6d6;
}
.listItem_white{
    background-color: #ffffff;
}
.listItem_white:hover{
    background-color: #f1f1f1;
}
/**********************************************
Slider
**********************************************/
.sliderSet{
    position: relative;
    width: 100%;
    height: 32px;
}
.slider_bar{
    position: absolute;
    box-sizing:border-box;
    top:2px;
    left:0px;
    width: 100%;
    height:28px;
    background: #b2b2b2;
    box-shadow: inset -2px 2px 0px #939393;
    border:1px solid #939393;
    border-radius: 4px;
    overflow: hidden;
    z-index: 100;
}
.slider_range{
    position: absolute;
    box-sizing:border-box;
    top:0px;
    height:28px;
    background: #D6DF23;
    border-radius: 0px;
    box-shadow: inset 0px 2px 0px #939393;
}
.slider_handle{
    position: absolute;
    box-sizing:border-box;
    top:0px;
    width: 20px;
    height: 32px;
    background-color: #595959;
    border:1px solid #323232;
    border-radius: 4px;
    z-index: 200;
    cursor: grab;
    cursor:-webkit-grab;
}
.slider_handle_icon{
    font-family: 'zoomdata-symbol';
    transform: rotate(90deg);
    font-size: 18px;
    line-height: 32px;
    color: #939393;
    margin-left: 2px;
}
.sliderSet_inlineWrapper{
    width: 100%;
    height: 32px;
    font-size: 0px;
}
.sliderSet_inlineSlider{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 8px - 80px);
    margin-right: 8px;
}
.sliderSet_inlineInput{
    display: inline-block;
    vertical-align: top;
    width: 80px;
    font-size: 0px;
}
.sliderSet_2LinesInput{
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 4px);
    font-size: 0px;
}
.sliderSet_2LinesInput:first-child{
    margin-right: 8px;
}
.sliderSet_inlineInput .inputBox, .sliderSet_2LinesInput .inputBox{
    display: inline-block;
    vertical-align: top;
}
.sliderSet_inlineInput .label_3, .sliderSet_2LinesInput .label_3{
    display: inline-block;
    vertical-align: top;
    width: 12px;
    line-height: 32px;
}
/**********************************************
Break Line
**********************************************/
.breakLine_1{
    width: 100%;
    height: 1px;
    background-color: #939393;
    margin-top: 24px;
    margin-bottom: 24px;
}
.breakLine_2{
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100%;
    background-color: #d2d2d2;
    margin-left: 8px;
    margin-right: 8px;
}
.breakLine_3{
    width: 100%;
    height: 1px;
    background-color: #939393;
    margin-top: 0px;
    margin-bottom: 12px;
}
/*.breakLine_4{
  width: 100%;
  height: 1px;
  background-color: #d2d2d2;
  margin-top: 24px;
  margin-bottom: 6px;
}*/
/**********************************************
Tooltip
**********************************************/
.tooltip{
    margin-left: 14px; /*For this Demo only, aligns tooltips with background Colors btns*/
    position: relative;
    box-sizing: border-box;
    max-width: 280px;
    border-radius: 8px;
    /*  padding is 12px includes border 1px*/
    padding: 11px;
    z-index: 10;
    /*drop shadow for tooltip with arrow*/
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
    -webkit-transform: translateZ(0);
    /*  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);*/
}
.tooltip_content{
    margin-bottom: 12px;
}
.tooltip_content:last-child{
    margin-bottom: 0px;
}
.tooltip:before{
    content: " ";
    position: absolute;
    left: -12px;
    top: calc(50% - 12px);
}
.tooltip:after{
    content: " ";
    position: absolute;
    left: -10px;
    top: calc(50% - 10px);
}
.tooltip_white{
    background-color: #ffffff;
    border: 1px solid #939393;
}
.tooltip_white:before{
    border-right: 12px solid #939393;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}
.tooltip_white:after{
    border-right: 10px solid #ffffff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.tooltip_black{
    background-color: #323232;
    border: 1px solid #939393;
}
.tooltip_black:before{
    border-right: 12px solid #939393;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}
.tooltip_black:after{
    border-right: 10px solid #323232;;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
}
/**********************************************
Label Color
**********************************************/
.tagSet{
    font-size: 0px;
}
.tag{
    margin: 2px;
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
}
.tag:hover{
    background-color: #cccccc;
    border: 1px solid #cccccc;
}
.tag .btn_small_label{
    color: #595959;
}
.tag .btn_small_icon{
    color: #595959;
    padding-left: 6px;
    padding-right: 0px;
}

.addTagBtn{
    margin: 2px;
}

/**********************************************
Label Color
**********************************************/
.label_white{
    color: #ffffff;
}
.label_grey{
    color:#939393;
}
.label_lightGrey{
    color:#e6e6e6;
}
.label_error{
    color: #e5683a;
}
.label_successful{
    color: #68ad45;
}
.label_warning{
    color: #eaa404;
}
.label_clicked{
    color: #d6df23;
}
.label_unChanged{
    cursor: not-allowed;
}
.label_disable{
    color:#b2b2b2;
    cursor: not-allowed;
}
.label_disable_inDark{
    color:#939393;
    cursor: not-allowed;
}
.bg_3 .label_successful, .bg_4 .label_successful{
    color: #7fd455;
}
.bg_3 .label_error, .bg_4 .label_error{
    color: #ff8254;
}
.label_overflow_1lines{
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.label_overflow_2lines{
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.label_overflow_3lines{
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*@media screen and (max-width: 768px) {
    .thumbnail_item{
        width: calc(50% - 10px);
    }
}
@media screen and (min-width: 769px) and (max-width: 850px) {
    .thumbnail_item{
        width: calc(50% - 10px);
    }
}
@media screen and (min-width: 851px) and (max-width: 1024px) {
    .thumbnail_item{
        width: calc(33.3333% - 10px);
    }
}
@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .thumbnail_item{
        width: calc(25% - 10px);
    }
}
@media screen and (min-width: 1367px){
    .thumbnail_item{
        width: calc(20% - 10px);
    }
}*/
body{
    min-width: 768px;
    overflow-y: hidden;
}
/************** Top Nav Bar CSS **************/
#topNavBar{
    position: relative;
    width: 100%;
    height: 36px;
    background-color: #323232;
    /*  box-shadow: 0 3px 2px rgba(50,50,50,0.2);*/
}
#topNavBar_logo{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 100;
}
#topNavBar_btns{
    position: absolute;
    width: 100%;
    height: 36px;
    top: 0px;
    left: 0px;
    z-index: 200;
    font-size: 0px;
}
.topNavBar_btn{
    display: inline-block;
    font-family: 'zoomdata-symbol';
    width: 44px;
    height: 36px;
    text-align: center;
    line-height: 35px;
    color: #D2D2D2;
    font-size: 22px;
    text-shadow: 2px 2px #000000;
    background-color: #323232;
    cursor: pointer;
}
.topNavBar_btn:hover{
    color: #ffffff;
}
.topNavBar_btn_selected{
    color: #d6df23;
    background-color: #000000;
}
/*.topNavBar_btn_selected:after{
  content: " ";
  position: absolute;
  left: 58px;
  top: 36px;
  border-top: 8px solid #000000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}*/
.topNavBar_btn_selected:hover{
    color: #d6df23;
    background-color: #000000;
}
#topNavBar_btns_left{
    height:36px;
    float: left;
}
#topNavBar_btns_right{
    height:36px;
    float: right;
}

/************** Main & Side Nav Menu CSS **************/
#main{
    position: relative;
    width: 100%;
    height: calc(100vh - 36px);
    font-size: 0px;
}
#addOptionsSet{
    position:absolute;
    left: 10px;
    top:32px;
    width: 150px;
    z-index: 200;
    display: none;
}
#sideNavMenu{
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left:0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 145px;
    height: 100%;
    background-color: #595959;
    z-index: 100;
}
#sideNavMenu_top{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 40px;
}
#sideNavMenu_body{
    position: absolute;
    top:72px;
    left: 0px;
    width: 100%;
    height: 132px;
    overflow-x :hidden;
}
#addNewBtn{
    width: 125px;
    margin-left: 10px;
    margin-top: 8px;
    /*box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px 0px;*/
}
.addNewBtn_clicked{
    background-color: #007f9c;
    border: 1px solid #007f9c;
}
.sideNavBtn{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1px;
}
.sideNavBtn .linkSet{
    box-sizing: border-box;
    width: 100%;
    padding-top:7px;
    padding-bottom: 7px;
    padding-left:14px;
    padding-right: 14px;
}
.sideNavBtn_selected .linkSet_icon{
    color: #d6df23;
}
.sideNavBtn_selected .linkSet_label{
    color: #e6e6e6;
    font-weight: 600;
}
.sideNavBtn_selected{
    background-color: #323232;
}
#sideNavBtn_subWrapper{
    display: none;
}
.sideNavBtn_sub{
    box-sizing: border-box;
    width: 100%;
}
.sideNavBtn_sub .linkSet{
    box-sizing: border-box;
    width: 100%;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left:24px;
    padding-right: 12px;
}
.sideNavBtn_sub .linkSet_label{
    padding-left: 8px;
    border-left: 2px solid #e6e6e6;
}
.sideNavBtn_sub_selected .linkSet_label{
    border-left: 2px solid #68ad45;
    font-weight: 600;
    color:#323232;
}

/************** Main Content General CSS **************/
#content{
    position: absolute;
    top:0px;
    right:0px;
    width: calc(100% - 145px);
    height: 100%;
    background-color: #e6e6e6;
    z-index: 100;
}
.content_top_fix{
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    max-height: 93px;
    padding: 0px 10px;
    z-index: 300;
    overflow: hidden;
    display: none;
    background-color: #e6e6e6;
}
.content_top{
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    max-height: 93px;
    padding: 0px 10px;
    z-index: 200;
    overflow: hidden;
    background-color: #e6e6e6;
}
.content_top_wrapper{
    width: 100%;
    height: 24px;
    padding: 8px 0px;
}
.content_top_wrapper .iconBtn{
    line-height: 24px;
    float: left;
    margin-right: 8px;
}
.content_top_wrapper .layoutSet_title{
    line-height: 24px;
    float: left;
}
.content_top_wrapper .btnToggleSet{
    width: 82px;
    float: right;
}
.content_top_wrapper .sortToggleSet{
    margin-top: 0px;
    margin-right: 32px;
    float: right;
}
.content_body{
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    /*height: calc(100% - 40px);*/
    /*padding: 0px 10px 10px 10px;*/
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
    /*background-color: pink;*/
}

/************** Thumbnail View CSS **************/
.thumbnailWrapper{
    position: absolute;
    top:0px;
    right: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    /*display: none;*/
    z-index: 100;
}
.rowSet{
    position: relative;
    margin: 0px auto;
    width: calc(100% - 20px);
}
.row{
    position: relative;
    width: 1000px;
    text-align: center;
    font-size: 0px;
    padding-bottom: 10px;
    /*background-color: rgba(0,0,0,0.2);
    padding-top: 0px;
    /*overflow: hidden;*/
}
.itemSet{
    display: inline-block;
    vertical-align: top;
    margin: 20px 5px 0px 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.itemSet_fixed{
    display: inline-block;
    vertical-align: top;
    margin: 0px 5px;
    background-color: yellow;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}
.itemSet_main{
    position: relative;
    transition: all 0.15s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px 0px;
    overflow: hidden;
}
.itemSet_main_img{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #ffffff;
}
.itemSet_main_info{
    position: absolute;
    top:0px;
    left:0px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: rgba(0,0,0,0.2); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)); /* Standard syntax */
    padding: 10px;
    z-index: 100;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}
.itemSet_main_info .label_3{
    color: #ffffff;
    font-size: 18px;
    text-align: left;
}
.itemSet_title{
    width: 100%;
    margin-top: 4px;
    height: 32px;
    opacity: 1;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.itemSet_title .label_3{
    line-height: 24px;
    text-align: center;
}

/************** List View CSS **************/
.listWrapper{
    position: absolute;
    top:40px;
    left:10px;
    width: calc(100% - 20px);
    height: calc(100% - 50px);
    font-size: 0px;
    overflow: hidden;
    display: none;
    background-color: #ffffff;
}
.listWrapper_leftSection{
    position: absolute;
    top:0px;
    left:0px;
    width: calc(100% - 284px);
    height: 100%;
}
.listWrapper_tableHeaderFixed{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 32px;
    background-color: red;
    z-index: 200;
    overflow: hidden;
}
.listWrapper_table{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    /*overflow: scroll;*/
    overflow-x :hidden;
}
.listWrapper_rightSection{
    position: absolute;
    top:0px;
    right:0px;
    width: 280px;
    height: 100%;
    background-color: #ffffff;
    z-index: 200;
    border-left: 4px solid #e6e6e6;
}
.listWrapper_preview_header{
    position: absolute;
    top:0px;
    right:0px;
    width: 100%;
    height: 32px;
    background-color: #d2d2d2;
    z-index: 200;
}
.listWrapper_preview_header .label_2{
    line-height: 32px;
    margin-left: 8px;
}
.listWrapper_preview_body{
    position: absolute;
    top:32px;
    left:0px;
    width: 100%;
    height: calc(100% - 32px);
    z-index: 100;
    overflow-x :hidden;
}
.listWrapper_preview_empty{
    position: absolute;
    top:10px;
    left:0px;
    width: 100%;
    z-index: 200;
    display: none;
}
.listWrapper_preview_empty .label_3{
    text-align: center;
}
.listWrapper_preview_content{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    z-index: 100;
    display: none;
}
.listWrapper_preview_thumbnail{
    box-sizing:border-box;
    position: relative;
    width: 260px;
    height: 146px;
    text-align: center;
    margin: 10px auto;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 0px 0px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}
.listWrapper_preview_thumbnail_mask{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-top: 1px solid #68ad45;
    border-left: 1px solid #68ad45;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.listWrapper_preview_thumbnail img{
    position: absolute;
    top:0px;
    left: 0px;
}
/*.listWrapper_preview_thumbnail:hover{
  border-top: 1px solid #68ad45;
  border-left: 1px solid #68ad45;
  border-right: 2px solid #68ad45;
  border-bottom: 2px solid #68ad45;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}*/
/*.listWrapper_preview_thumbnail:hover .listWrapper_preview_thumbnail_mask{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}*/
/************** Home List Table CSS **************/
.home_table th{
    min-width: 0px;
    height: 32px;
    text-align: left;
    background-color: #d2d2d2;
    border-top: 1px solid #d2d2d2;
    border-bottom: none;
    /*border-bottom: 1px solid #d2d2d2;*/
    border-left: 1px solid #ffffff;
    border-right: none;
}
.home_table th:first-child{
    border-left: none;
}
.home_table tr{
    cursor: pointer;
}
.home_table td{
    padding:7px 8px;
    border: none;
    border-bottom: 1px solid #d2d2d2;
}
.home_table .table_headerSort{
    left:calc(100% - 24px);
    top:2px;
}
.home_table .table_headerSort .sortArrowUp{
    border-bottom: 8px solid #f1f1f1;
}
.home_table .table_headerSort:hover .sortArrowUp{
    border-bottom: 8px solid #eaeaea;
}

/************** Perview Item Info CSS **************/
.item_info{
    margin-bottom: 8px;
}
.item_info .layoutSet_horizontal_label{
    width: calc(35% - 4px);
    text-align: right;
}
.item_info .layoutSet_horizontal_component{
    width: calc(65% - 4px);
    margin-right: 0px;
}
.item_info .label_2{
    color: #b2b2b2;
}
#item_delete{
    margin-top: 12px;
}

/************** No Selected & Selected Row CSS **************/
/*.dataSourceInfoIcon{
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}*/
.tr_notSelected .linkSet_label:hover{
    color: #007f9c;
    text-decoration: underline;
}
.tr_notSelected .dataSourceInfoIcon{
    opacity: 0;
}
.tr_notSelected:hover td .dataSourceInfoIcon{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 0;
}
.tr_notSelected:hover td{
    background-color: #f1f1f1;
}
.tr_selected .dataSourceInfoIcon{
    opacity: 0;
}
.tr_selected td{
    background-color: #595959;
}
.tr_selected:hover td{
    background-color: #404040;
}
.tr_selected .label_3{
    color: #ffffff;
}
.tr_selected .iconBtn_primary{
    color: #ffffff;
}
.tr_selected .iconBtn_primary:hover{
    color: #f1f1f1;
}
.tr_selected .iconBtn_secondary{
    color: #ffffff;
}
.tr_selected .iconBtn_secondary:hover{
    color: #b8b8b8;
}
.tr_selected .linkSet_label{
    color: #ffffff;
}
.tr_selected .linkSet_label:hover{
    color: #f1f1f1;
    text-decoration: underline;
}
/*.tr_selected .iconBtn_readyOnly_clickable{
  color: #7fd455;
}
.tr_selected .iconBtn_readyOnly_clickable:hover{
  color: #70ba4a;
}*/
/************** Empty Content CSS **************/
.emptyWrapper{
    position: absolute;
    top:0px;
    left: 0x;
    width: calc(100% - 24px);
    display: none;
}
#sideNavMenu_search{
    position: absolute;
    top:40px;
    left: 0px;
    width: 145px;
    height: 32px;
}
#sideNavMenu_search .linkSet{
    position: absolute;
    top:7px;
    left: 14px;
    width: 100%;
    height: 32x;
}
#sideNavMenu_search .inputBox{
    position: absolute;
    width: 145px;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
}
#sideNavMenu_search .iconBtn{
    position: absolute;
    top: 7px;
    right: 2px;
    z-index: 200;
    display: none;
}

/* Matt's Styles for Details Info below */
.outside_item_name {font-weight:bold; font-size:14px; line-height:18px; color:#595859;}
.outside_modifiedDate_calc {text-transform:uppercase; font-size:10px; line-height:14px; color: #939393; letter-spacing:0.05em;}
.dafonticon {  font-family: 'zoomdata-symbol'; text-align:center; }

/* text shown on hover */
/*.itemSet_main_info:hover { cursor: url(../img/Home/zoomCursor.png), pointer;
}*/
.itemSet_main_info:hover { cursor: -webkit-zoom-in;
}

.itemSet_main_info .inside_contet_container {position:absolute; width:calc(100% - 20px); bottom:10px;  left:10; right:10;}
.itemSet_main_info {background: linear-gradient(to bottom, rgba(0,0,0,0.18) 0%,rgba(0,0,0,0.75) 100%);}
.itemSet_main_info div { text-shadow: 1px 1px rgba(0,0,0,0.5);}
.inside_item_name {text-align:center; color:#ffffff; font-size:21px; line-height:24px;font-weight:bold;}
.inside_modifiedDate_calc {text-align:center; color:#ffffff; text-transform: uppercase; font-size:10px; line-height:14px;letter-spacing:0.05em;}
.dataSource_and_creator_container {text-align:center;}
.dataSource_and_creator_container div + div {margin-left:20px;}
.inside_dataSource, .inside_creator {display:inline-block;}
.inside_creator, .inside_description, .inside_dataSource  {text-align:center; line-height: 16px; color:#d2d2d2; font-size: 12px;}
.itemSet_main_info .dafonticon {font-size: 12px; padding-right:4px; position:relative; top:2px; }

/* little tools area shown on hover */
.inside_tools_container { position: absolute; top: 10px; right:10px; }
.inside_star, .inside_delete {position: absolute; top: 0; right:0; width: 26px;
    height:26px; border:1px solid #d2d2d2; border-radius:4px; background-color:#fff;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.01); color:#939393; font-size:18px; font-family: 'zoomdata-symbol'; text-align:center;
    text-shadow:none !important;
}
.inside_delete {right: 35px;}
.inside_star:hover , .inside_delete:hover{cursor:pointer;}
.inside_star span {position:relative; top:2px;}
.inside_delete span {position:relative; top:3px;}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
.fullScreenWrapper{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 1280px;
    padding: 0px;
    margin: 0px;
}
/**********************************************
List Layout
**********************************************/
.listItem{
    box-sizing: border-box;
    width:100%;
    min-height: 32px;
    padding:5px 7px 5px 7px;
    cursor: pointer;
}
.listItem_white{
    border: 1px solid #939393;
    background-color: #ffffff;
}
.listItem_white:hover{
    background-color: #f1f1f1;
}
.listItem_black{
    border: 1px solid #323232;
    background-color: #323232;
}
.listItem_black:hover{
    background-color: #1a1a1a;
}
.listItem_selected{
    border: 1px solid #939393;
    background-color: #595959;
}
.listItem_selected:hover{
    background-color: #595959;
}
.listItem_disable{
    border: 1px solid #b2b2b2;
    background-color: #f1f1f1;
    cursor: not-allowed;
}
.listItem_disable:hover{
    border: 1px solid #b2b2b2;
    background-color: #f1f1f1;
    cursor: not-allowed;
}
.listItem_independent{
    margin-bottom: 4px;
    border-radius: 8px;
}
.listItem_stacked{
    margin-top: -1px;
    border-radius: 0px;
}
.listItem_stacked:first-child{
    margin-top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.listItem_stacked:last-child{
    margin-bottom: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.listItem_stacked_black{
    margin-top: 0px;
    margin-bottom: 1px;
}
/* --------- Basic Components Style ---------*/
.listItem_components{
    width: 100%;
    vertical-align: middle;
    overflow: auto;
    font-size: 0px;
}
/**********************************************
Basic Vertical & Horizontal Layout
**********************************************/

.layoutSet_vertical_group, .layoutSet_horizontal_group{
    width: 100%;
    font-size: 0px;
}
.layoutSet_vertical_group{
    height: 18px;
    margin-bottom: 4px;
    overflow:hidden;
}
.layoutSet_vertical_label, .layoutSet_horizontal_label{
    margin-right: 8px;
    float: left;
}
.layoutSet_vertical_label{
    line-height: 18px;
}
.layoutSet_horizontal_label{
    width: 140px;
    line-height: 18px;
}
.layoutSet_vertical_help, .layoutSet_horizontal_help{
    width: 18px;
    float: right;
}
.layoutSet_vertical_help{
    line-height: 18px;
}
.layoutSet_horizontal_help{
    line-height: 18px;
}
.layoutSet_vertical_component{
    width: 100%;
}
.layoutSet_horizontal_component{
    width: calc(100% - 140px - 18px - 16px);
    min-height: 18px;
    margin-right: 8px;
    float: left;
}
.layoutSet_vertical_description, .layoutSet_horizontal_description, .layoutSet_vertical_validation, .layoutSet_horizontal_validation{
    margin-top: 4px;
}
/**********************************************
Inline Display
**********************************************/
.layoutSet_inlineWrapper{
    width: 100%;
    font-size: 0px;
}
.layoutSet_inlineSet{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.layoutSet_inlineSet:last-child{
    margin-right: 0px;
}
.inlineSet_2Columns{
    width: calc(50% - 4px);
}
.inlineSet_3Columns{
    width: calc(33.3333% - 5px);
}

/**********************************************
Admin Table
**********************************************/
.adminTable{
    min-width: 720px;
}
.table_topWarpper{
    margin-bottom: 12px;
    font-size: 0px;
}
.table_topWarpper_left{
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 280px - 24px);
    margin-right: 24px;
    /*  background-color: pink;*/
}
.table_topWarpper_left_fullWidth{
    display: inline-block;
    vertical-align: middle;
    width:100%;
}
.table_topWarpper_right{
    display: inline-block;
    vertical-align: bottom;
    /*  background-color: yellow;*/
}
.table_searchBox{
    width: 280px;
    display: inline-block;
    vertical-align: bottom;
}

table{
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    /*min-width: 760px;*/
}

/* Table Header Style */
th{
    position: relative;
    min-width: 72px;
    box-sizing: border-box;
    background-color: #595959;
    border: 1px solid #d2d2d2;
    text-align: center;
    height:36px;
    vertical-align: middle;
    padding-left: 8px;
    padding-right: 8px;
}

/* Table Body Cell Style */
td{
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    /*    border-top: none;*/
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    vertical-align: middle;
    padding: 8px;
}
.td_textAlignCenter{
    text-align: center;
}
.td_transparentRightBorder{
    border-right: 1px solid transparent;
}
.td_noPaddingLeft{
    padding-left:0px
}
.td_noPaddingRight{
    padding-right:0px
}
/* If the Table Header has "Sort Button", it padding need to be adjust from 8px to 12px */
.table_headerHasSort{
    padding-left: 12px;
    padding-right: 12px;
}
/* Table Header Sort Button */
.table_headerSort{
    position: absolute;
    top:5px;
    left: 0px;
    width:24px;
    height:24px;
}
/* Table Header Help Button */
.table_headerHelp{
    position: absolute;
    top:0px;
    right:0px;
    width:0px;
    height:0px;
    cursor: pointer

}
.td_noBorderTopBottom{
    border-top: none;
    border-bottom: none;
}
.table_component{
    margin: 0 auto;
}

.table_optionsRow{
    width:100%;
    padding: 0px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    background-color: #e6e6e6;
}

.table_optionsWrapper{
    position: relative;
    width:100%;
    font-size: 0px;
    background-color: #f1f1f1;
    border-top: 2px solid #b2b2b2;
    border-left: 2px solid #b2b2b2;
}
.table_optionsArrow {
    position: absolute;
    top:-4px;
    right:22px;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #b2b2b2;
    /*  display: none;*/
}
.table_optionsInnerArrow {
    position: relative;
    top: -18px;
    left: -16px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ffffff;
}

.table_optionsList{
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
}
/*Use CSS column to split the options list into 2 columns*/
.optionsList{
    position: relative;
    box-sizing:border-box;
    column-count: 2;
    column-gap: 24px;
    width: 100%;
}

/*CSS hacking, use a 1px line to cover the left & right columns' first options top border*/
.optionsList:after {
    display:block;
    position:absolute;
    z-index: 5000;
    background-color:#f1f1f1;
    width: 100%;
    height:1px;
    top:0px;
    left:0px;
    content:".";
    font-size:0px;
}
/*CSS for each single field options*/
.optionItem{
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #b2b2b2;
    width: 100%;
    display: inline-block;
}
.optionItem:first-child{
    border-color:transparent;
}

.table_optionsColumn .table_optionSet:last-child{
    border-bottom: none;
}

/* Use thes class to control the width of each columns */
/* Add them to the "<th>" as class */
/* e.g "colum_05" = "width: 5%" */
.column_05{
    width: 5%;
}
.column_10{
    width: 10%;
}
.column_15{
    width: 10%;
}
.column_20{
    width: 20%;
}
.column_30{
    width: 30%;
}
.column_35{
    width: 35%;
}
.column_40{
    width: 40%;
}
.column_45{
    width: 45%;
}
.column_50{
    width: 50%;
}
.column_60{
    width: 60%;
}
.column_70{
    width: 70%;
}
.optionSet{
    background-color: rgba(255,255,255,0.5);
}
/**********************************************
Main Popover
**********************************************/
.mainPopover{
    width: 288px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    background-color: rgba(50,50,50,0.9);
    border-radius: 12px;
    padding-bottom: 12px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3));
    /*  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);*/
}
.mainPopover:before{
    content: " ";
    position: absolute;
    left: -14px;
    top: calc(50% - 14px);
    border-right: 14px solid rgba(50,50,50,0.9);
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}
.mainPopover_noScrollArea_top{
    padding-left: 12px;
    padding-right: 12px;
}
.mainPopover_noScrollArea_bottom{
    box-sizing: border-box;
    width: calc(100% - 24px);
    padding-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
}
.mainPopover_scrollArea{
    overflow-x:hidden;
    overflow-y:auto;
    padding-left: 12px;
    padding-right: 12px;
    max-height: 320px;
    background-color: transparent;
}
.mainPopover_group{
    box-sizing: border-box;
    width:100%;
    padding: 0px;
    background-color: transparent;
}
.mainPopover_groupBorder{
    padding: 12px;
    border-radius: 12px;
    background-color: #e6e6e6;
}
.mainPopover_heading{
    width: 100%;
    height:44px;
}
.mainPopover_header{
    text-align: center;
    line-height: 44px;
}
.mainPopover_closeIcon{
    position: absolute;
    top:6px;
    right: 6px;
}
.mainPopover_searchIcon{
    position: absolute;
    top:6px;
    right: 28px;
    line-height: 18px;
}
.mainPopover_backIcon{
    position: absolute;
    top:0px;
    left: 12px;
    line-height: 44px;
}
.mainPopover_search{
    margin-bottom: 12px;
    display: none;
}
.mainPopover_noScrollArea_bottom .btnSet{
    display: inline-block;
    margin: 0 auto;
}
.mainPopover_noScrollArea_bottom .btn_large:first-child{
    margin-right: 12px;
}
/**********************************************
Second Popover
**********************************************/
.secondPopover{
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-width: 96px;
    /* arrow's width is 12px + space between search box 2px*/
    margin-left: 14px;
    background-color: #e6e6e6;
    border-radius: 12px;
    /*drop shadow for popover with arrow*/
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.3));
    -webkit-transform: translateZ(0);
    /*border: 1px solid #ffffff;*/
    /*  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);*/

}
.secondPopover:before{
    position: absolute;
    display: inline-block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #e6e6e6;
    left:-12px;
    top: calc(50% - 12px);
    width: 0px;
    height:0px;
    content: " ";
}
.secondPopover_closeSet{
    position: relative;
    width: 100%;
    height: 18px;
}
.secondPopover_closeIcon{
    position: absolute;
    top:0px;
    right: 2px;
}
.secondPopover_breakLine{
    width: 100%;
    height:1px;
    background-color: #939393;
    border-bottom: 1px solid #ffffff;
}
.secondPopover_list{
    padding: 6px;
    min-width: 108px;
}
.secondPopover_btnSet{
    /*  box-sizing: border-box;*/
    height:18px;
    padding:6px;
    cursor: pointer;
}
.secondPopover_btnSet:hover{
    background-color: #d2d2d2;
}
.secondPopover_btnSet:hover .linkSet{
    color: #404040;
}
.secondPopover_btnSet:hover .linkSet_label{
    text-decoration: underline;
}
.secondPopover_btnSet .linkSet{
    vertical-align: top;
}
.secondPopover_btnSet:first-child{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.secondPopover_btnSet:last-child{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
/**********************************************
Quick Links
**********************************************/
.quickLinkWrapper{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: calc(100vh - 40px);
    max-width: 1280px;
    padding: 0px;
    margin: 0px;
}
.quickLink_btnSet{
    position: absolute;
    top:0px;
    left: 0px;
    width: calc(100% - 24px);
    height: 40px;
    border-bottom: 1px solid #939393;
    padding: 0px 12px;
    background-color: #ffffff;
}
.quickLink_title{
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    margin-right: 24px;
}
.quickLink_btn{
    display: inline-block;
    vertical-align: top;
    height: 40px;
    margin-right: 24px;
}
.quickLink_btn .linkSet_label{
    line-height: 40px;
}
.quickLink_sectionSet{
    box-sizing: border-box;
    position: absolute;
    top:41px;
    left: 0px;
    width: 100%;
    height:480px;
    background-color: #ffffff;
    padding: 0px 12px 12px 12px;
    overflow-x: hidden;
    overflow-y: auto;
}
.quickLink_section{
    width: 100%;
    margin-top: 12px;
}
/**********************************************
Dialog & Lightbox
**********************************************/
.lightBox{
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: rgba(0,0,0, 0.6);
}
.lightBox_closeBg{
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
}

.dialog_container{
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    position: relative;
}
.dialog_container_closeBg{
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
}

.dialog_main{
    box-sizing: border-box;
    position: absolute;
    width: 360px;
    top:10%;
    left: calc(50% - 180px);
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.6) 3px 3px 10px 0px;
    overflow: hidden;
    border: 1px solid #d2d2d2;
}

.dialog_content{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.dialog_heading{
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
}
.dialog_closeIcon{
    position: absolute;
    top:6px;
    right: 6px;
}

.dialog_maxScreenIcon{
    position: absolute;
    top:6px;
    right: 28px;
    width: 18px;
    height: 18px;
    display: none;
}
.dialog_minScreenIcon{
    position: absolute;
    top:6px;
    right: 28px;
    width: 18px;
    height: 18px;
}
.dialog_dragIcon{
    width: 100%;
    margin-top:-12px;
    line-height: 28px;
    cursor: move;
}
.dialogHeader_1{
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}
.dialogHeader_2{
    width: 100%;
    text-align: center;
}
.dialogHeader_3{

}
.details_dataSource{
    /*  width:calc(100% - 305px);*/
    min-width:calc(332px + 16px);
    height: 24px;
    float: left;
    font-size: 0px;
    margin-bottom: 4px;
}
.details_btnSet{
    height: 24px;
    float: left;
    font-size: 0px;
    margin-bottom: 4px;
}
.dialog_body{
    box-sizing: border-box;
    width: calc(100% - 24px);
    height: 100%;
    margin-left: 12px;
    margin-right: 12px;
}
.dialog_footer{
    position: absolute;
    bottom:0px;
    right: 12px;
    width: calc(100% - 24px);
    height: 12px;
    border-top: 1px solid #d2d2d2;
    background-color: #ffffff;
}
.dialog_resizeIconBg{
    position: absolute;
    top:-22px;
    right:0px;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-right:22px solid #ffffff;
}
.dialog_resizeIcon{
    position: absolute;
    bottom:-4px;
    left: 9px;
}
.dialog_bottomBtns{
    width: 100%;
    height: 32px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.dialog_bottomBtns .btn_large:first-child{
    margin-right: 12px;
}
/**********************************************
Legend
**********************************************/
.legendSet{
    position: relative;
    width: 100%;
}
.legend_header{
    position: relative;
    height:20px;
    overflow: hidden;
    z-index: 200;
}
.legend_switch{
    position: absolute;
    top:0px;
    left: 0px;
    padding-right: 8px;
    padding-bottom: 8px;
    background-color: #ffffff;
    z-index: 200;
}
.legend_helpIcon{
    position: absolute;
    top:0px;
    right: 0px;
    padding-left: 8px;
    padding-bottom: 8px;
    background-color: #ffffff;
    z-index: 200;
}
.legend_topBorder{
    box-sizing:border-box;
    position: absolute;
    top:10px;
    left: 0px;
    width: 100%;
    height:20px;
    border:1px solid #939393;
    border-bottom: transparent;
    border-top-right-radius: 12px;
    z-index: 100;
    display: none;
}
.legend_body{
    box-sizing:border-box;
    width: 100%;
    border: 1px solid #939393;
    border-top: transparent;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 12px;
    padding-top: 0px;
    z-index: 100;
    display: none;
}
/**********************************************
Layout Line Height Fix
**********************************************/
.lineHeight_32{
    line-height: 32px;
}
.lineHeight_24{
    line-height: 24px;
}
.lineHeight_28{
    line-height: 28px;
}
.lineHeight_18{
    line-height: 18px;
}
/**********************************************
Paddings
**********************************************/
.paddingTop_2{
    padding-top: 4px;
}
.paddingTop_4{
    padding-top: 4px;
}
.paddingTop_8{
    padding-top: 8px;
}
.paddingTop_12{
    padding-top: 12px;
}
.paddingTop_24{
    padding-top: 24px;
}
.paddingTop_36{
    padding-top: 36px;
}
.paddingBottom_12{
    padding-bottom: 12px;
}
.paddingBottom_24{
    padding-bottom: 24px;
}
/**********************************************
Margin
**********************************************/
.marginTop_8{
    margin-top: 8px;
}
.marginTop_12{
    margin-top: 12px;
}
.marginTop_24{
    margin-top: 24px;
}
.marginBottom_8{
    margin-bottom: 8px;
}
.marginBottom_12{
    margin-bottom: 12px;
}
.marginBottom_24{
    margin-bottom: 24px;
}
.marginLeft_12{
    margin-left: 12px;
}
.marginLeft_24{
    margin-left: 24px;
}
.marginLeft_32{
    margin-left: 32px;
}

/**********************************************
Border
**********************************************/
.borderTop_1{
    border-top: 1px solid #d2d2d2;
}
.borderBottom_1{
    border-bottom: 1px solid #d2d2d2;
}
.bg_2 .borderTop_1, .bg_3 .borderTop_1,.bg_4 .borderTop_1{
    border-top: 1px solid #939393;
}
.bg_2 .borderBottom_1, .bg_3 .borderBottom_1,.bg_4 .borderBottom_1{
    border-bottom: 1px solid #939393;
}

